<ul>
  <li *ngFor="let item of items | async">
    <input type="text" #updatesize [value]="item.text" />
    <button (click)="update(item.$key, updatesize.value)">Update</button>
    <button (click)="deleteItem(item.$key)">Delete</button>
  </li>
</ul>
<input type="text" #newitem />
<button (click)="add(newitem.value)">Add</button>
<button (click)="deleteEverything()">Delete All</button>

<br />
<br />

<h3>Filter test</h3>
<p>Selected Item: {{selectedValue}}<button *ngIf="selectedValue != 'undefined'" (click)="okayButton()">okay</button></p>
Filter: <input #filter type="text" [ngModel]="selectedValue" (keyup)="0"/>


<div *ngIf="filter.value != ''">
  <div #block *ngFor="let item of items | async"
       (mouseover)="block.style.backgroundColor='red'"
       (mouseleave)="block.style.backgroundColor=''">
    <p (click)="onSelect(item.text)">{{item.text | filter:filter.value}}</p>
  </div>
</div>


<hr />
<br />
<br />
<br />

<h1>Forms test</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <button type="submit" class="btn btn-success">Save</button>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="text"
      id="price"
      class="form-control"
      formControlName="price">
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <input
      type="text"
      id="description"
      class="form-control"
      formControlName="description">
  </div>
</form>

<h3>Branch3 filter w/ angularfire test</h3>
<ul>
  <li *ngFor="let item of branch3 | async">
    <p>name: {{item.name}}</p>
    <p>price: {{item.price}}</p>
    <p>description: {{item.description}}</p>
  </li>
</ul>
